<div>
    <h2 id="page-heading">
        <span jhiTranslate="mpsapcApp.manuscript.home.title">Manuscripts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-manuscript" [routerLink]="['/manuscript/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mpsapcApp.manuscript.home.createLabel">
            Create a new Manuscript
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="manuscripts?.length === 0">
        <span jhiTranslate="mpsapcApp.manuscript.home.notFound">No manuscripts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="manuscripts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.manuscriptId">Manuscript Id</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.manuscriptTitle">Manuscript Title</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.apcStatus">Apc Status</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.dateCreated">Date Created</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.dateModified">Date Modified</span></th>
                    <th scope="col" ><span jhiTranslate="mpsapcApp.manuscript.manuscriptJournalAcronym">Manuscript Journal Acronym</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let manuscript of manuscripts ;trackBy: trackId">
                    <td><a [routerLink]="['/manuscript', manuscript.id, 'view']">{{ manuscript.id }}</a></td>
                    <td>{{ manuscript.manuscriptId }}</td>
                    <td>{{ manuscript.manuscriptTitle }}</td>
                    <td jhiTranslate="{{ 'mpsapcApp.APCStatus.' + manuscript.apcStatus }}">{{ manuscript.apcStatus }}</td>
                    <td>{{ manuscript.dateCreated | date:'mediumDate' }}</td>
                    <td>{{ manuscript.dateModified | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="manuscript.manuscriptJournalAcronym">
                            <a [routerLink]="['/journal', manuscript.manuscriptJournalAcronym?.id, 'view']" >{{ manuscript.manuscriptJournalAcronym?.journalAcronym }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/manuscript', manuscript.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/manuscript', manuscript.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(manuscript)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
