<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manuscript">
            <h2><span jhiTranslate="mpsapcApp.manuscript.detail.title">Manuscript</span> {{ manuscript.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mpsapcApp.manuscript.manuscriptId">Manuscript Id</span></dt>
                <dd>
                    <span>{{ manuscript.manuscriptId }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.manuscriptTitle">Manuscript Title</span></dt>
                <dd>
                    <span>{{ manuscript.manuscriptTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.apcStatus">Apc Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mpsapcApp.APCStatus.' + manuscript.apcStatus }}">{{ manuscript.apcStatus }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ manuscript.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.dateModified">Date Modified</span></dt>
                <dd>
                    <span>{{ manuscript.dateModified }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.manuscriptJournalAcronym">Manuscript Journal Acronym</span></dt>
                <dd>
                    <div *ngIf="manuscript.manuscriptJournalAcronym">
                        <a [routerLink]="['/journal', manuscript.manuscriptJournalAcronym?.id, 'view']">{{ manuscript.manuscriptJournalAcronym?.journalAcronym }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.manuscript.manuscriptAuthorName">Manuscript Author Name</span></dt>
                <dd>
                    <div *ngIf="manuscript.manuscriptAuthorName">
                        <a [routerLink]="['/author', manuscript.manuscriptAuthorName?.id, 'view']">{{ manuscript.manuscriptAuthorName?.firstName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manuscript', manuscript.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
