<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="journal">
            <h2><span jhiTranslate="mpsapcApp.journal.detail.title">Journal</span> {{ journal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mpsapcApp.journal.journalAcronym">Journal Acronym</span></dt>
                <dd>
                    <span>{{ journal.journalAcronym }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.journal.journalTitle">Journal Title</span></dt>
                <dd>
                    <span>{{ journal.journalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.journal.activeStatus">Active Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mpsapcApp.ActiveStatus.' + journal.activeStatus }}">{{ journal.activeStatus }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.journal.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ journal.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="mpsapcApp.journal.dateModified">Date Modified</span></dt>
                <dd>
                    <span>{{ journal.dateModified }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/journal', journal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
